<!-- start custom head snippets -->

<!-- https://cookieconsent.insites.com -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#ffffff",
      "text": "#7a8288"
    },
    "button": {
      "background": "transparent",
      "text": "#7a8288",
      "border": "#7a8288"
    }
  },
  "position": "top",
  "static": true,
  "content": {
    "message": "",
    "link": "Cookie Policy"
  }
})});
</script>

<!-- Google AdSense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8593509791381063",
    enable_page_level_ads: true
  });
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
